<nav class="nav collapsible">
  <a href="/"><img class="logo" src="css/images/logo.svg" alt="" /></a>
  <svg
    class="icon nav__toggler"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-list"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
    />
  </svg>
  <ul class="nav__list list collapsible__content">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#">About Me</a></li>
    <li class="nav__item"><a href="#">Study</a></li>
  </ul>
</nav>
